#intro {
    font-family: 'Poppins', 'sans-serif';
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 0;
    object-fit: contain;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100 ;
}

.introname {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 200;
    letter-spacing: 1px;
}

.btn {
    background: white;
    margin: 1rem 0;
    border: none;
    padding: .75rem 1.5rem;
    border-radius: 2rem;
    font-size: large;
    font-weight: 400;
}

.btnImg {
    height: 1rem;
    margin: 0 .25rem;
    object-fit: cover;
}

@media screen and (max-width : 840px) {
    .bg {
        right: -10vw;
    }
    .introContent {
        font-size: 5vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}

@media screen and (max-width : 480px) {
    .bg {
        right: -20vw;
    }
    .introContent {
        font-size: 5vw;
    }
    .hello {
        font-size: 4.5vw;
    }
}